*,
html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#profile {
  border: 5px solid #3b2d8e;
  border-radius: 10px;
  margin: 5px 0px;
}

@media screen and (min-width: 900px) {
  @keyframes movingchips {
    0% {
      transform: translate(0px, 0px);
      background-color: white;
      color: black;
    }
    20% {
      transform: translate(200px, 0px);
      background-color: #3b2d8e;
      color: #f7fffc;
    }
    40% {
      transform: translate(200px, -630px);
      background-color: #f7fffc;
      color: #3b2d8e;
    }
    60% {
      transform: translate(-200px, -630px);
      background-color: #f7fffc;
      color: #3b2d8e;
    }
    80% {
      transform: translate(-200px, 0px);
      background-color: #3b2d8e;
      color: #f7fffc;
    }
    100% {
      transform: translate(0px, 0px);
      background-color: white;
      color: black;
    }
  }
}
